@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pangolin", cursive, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color : #1f242d;
    --second-bg-color : #323946;
    --text-color : #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: linear-gradient(to top right, rgb(84, 130, 161) , rgb(58, 53, 53));
    color : var(--text-color);
    min-height: 100vh;
    z-index: 1;
    position: relative;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
section{
    min-height: 100vh;
    padding: 15rem 9% 7rem;
}

.header{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.headerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoPass{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logoActive{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#back-icon{
    font-size: 4rem;
    color: var(--main-color);
    margin-right: 20px;
    cursor: pointer;
    transition: .3s ease;
}

#back-icon:hover{
  transform: rotate(180deg);
  /* color: var(--text-color); */
}
.header span{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
}
#icon{
    font-size: 5rem;
    color: var(--main-color);
    margin-left: 20px;
}

ul li{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    list-style: none;
}
ul li a{
    color : var(--main-color)
}

@media screen and (max-width : 685px) {
    .header span {
        display: none;
    }
}