@font-face {
    font-family: 'custom';
    src: url("/assets/font/Bahnschrift.ttf") format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'custom';
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color : #1f242d;
    --second-bg-color : #323946;
    --text-color : #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--second-bg-color);
    color : var(--text-color);
    min-height: 100vh;
    z-index: 1;
    position: relative;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.main{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}
section{
    min-height: 100vh;
    padding: 15rem 9% 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.headerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoPass{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logoActive{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#back-icon{
    font-size: 4rem;
    color: var(--main-color);
    margin-right: 20px;
    cursor: pointer;
    transition: .3s ease;
}

#back-icon:hover{
  transform: rotate(180deg);
  /* color: var(--text-color); */
}
.header span{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
}

.projectIcon{
    width: 130px;
    height: 34px;
    margin: 0 0 0 15px;
}

.wrapper{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.imagesContainer{
display: flex;
flex-direction: column;
align-items: center;
}

.imageBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.projectImage{
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
}
.arrowBack2, .arrowBack3{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: rotate(180deg);
    position: absolute;
    left: -40px;
}
.arrowNext1, .arrowNext2 {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: -40px;
}
.arrowNext1:hover,.arrowNext2:hover, .arrowBack2:hover , .arrowBack3:hover {
  border-radius: 50%;
  background-color: rgba(0, 238, 255, 0.349);
}

.description{
    font-size: 18px;
    color : var(--text-color);
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.description a {
    text-decoration: none;
    color : var(--main-color);
}
.stack{
    margin: 30px 0 0 0;
    font-size: 18px;
    color : var(--text-color);
    display: block;
    width: 100%;
    display: flex;
    justify-content: start;
}

.myRole{
    margin: 30px 0 0 0;
    font-size: 18px;
    color : var(--text-color);
    display: block;
    width: 100%;
}
.myRole a {
    text-decoration: none;
    color : var(--main-color);
    display: inline-block;
}